<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Signup Dates</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/mainStyle.css">

</head>
<body>
    <!-- Actual page content! -->
    <div class="container">
        <div class="section" id="stuffList">
            <a href="/">
                <img src="https://www.healthbarnfoundation.org/wp-content/uploads/2014/02/HealingMealsLogo_Final021.png">
            </a>
            <h1>HealthBarn Foundation Healing Meals</h1>
            <h2>Cooking & Transporting </h2> 
            <body> Please review the available slots below and click on the button to sign up. Thank you!</body>
            <table>
                <thead>

                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Available Slots</th>
                        <th>Description</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <% for (let i = 0; i < inventory.length; i++) { %>
                    <tr>
                        <td><%= inventory[i].event %></td>
                        <td><%= inventory[i].date %></td>
                        <td><%= inventory[i].time %></td>
                        <td><%= inventory[i].location %></td>
                        <td><%= inventory[i].avail_slots %>
                        </td>
                        <td><%= inventory[i].description %></td>
                        <td><a class="btn-small waves-effect waves-light" href=<%="/admin/details/" + inventory[i].event_id%> >
                            <i class="material-icons right">edit</i>
                            Info/Edit
                        </a>
                        <a class="btn-small waves-effect waves-light red" href="/admin/details/<%= inventory[i].event_id %>/delete">
                            <i class="material-icons right">delete</i>
                            Delete
                        </a></td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
        </div>

        <div class="section" id="mainAdd">
            <h2>Add Event:</h2>
            <form method="post" action="/admin">
                <div class="row">

                    <div class="input-field col s6">
                        <label for="nameInput">Event Name:</label>
                        <input type="text" name="name" id="nameInput" class="validate" data-length="32" required>
                    </div>

                    <div class="input-field col s6">
                        <label for="dateInput">Date:</label>
                        <input type="date" name="date" id="dateInput" required>
                    </div>

                    <div class="input-field col s6">
                        <label for="f_timeInput">Start Time:</label>
                        <input type="time" name="f_time" id="f_timeInput" required>
                    </div>

                    <div class="input-field col s6">
                        <label for="t_timeInput">End Time:</label>
                        <input type="time" name="t_time" id="t_timeInput" required>
                    </div>

                    <div class="input-field col s6">
                        <label for="locationInput">Location:</label>
                        <input type="text" name="location" id="locationInput" class="validate" data-length="32" required>
                    </div>

                    <div class="input-field col s6">
                        <label for="avail_slotsInput">Available Slots:</label>
                        <input type="number" name="avail_slots" id="avail_slotsInput" required>
                    </div>

                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">send</i>
                    Submit
                </button>
            </form>
        </div>
    </div>
    
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>