<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Signup Dates</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/mainStyle.css">

</head>
<body>
    <!-- Actual page content! -->
    <div class="container">
        <div class="section" id="stuffList">
            <a href="/">
                <img src="https://www.healthbarnfoundation.org/wp-content/uploads/2014/02/HealingMealsLogo_Final021.png">
            </a>
            <h1>HealthBarn Foundation Healing Meals</h1>
            <h2>Cooking & Transporting </h2> 
            <body> Please review the available slots below and click on the button to sign up. Thank you!</body>
            <% if (inventory.length > 0) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Available Slots</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
    
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < inventory.length; i++) { %>
                        <tr>
                            <td><%= inventory[i].event %></td>
                            <td><%= inventory[i].date %></td>
                            <td><%= inventory[i].time %></td>
                            <td><%= inventory[i].location %></td>
                            <td><%= inventory[i].avail_slots %>
                            </td>
                            <td><%= inventory[i].description %></td>
                            <td><a class="btn-small waves-effect waves-light" href=<%="/main/signup/" + inventory[i].event_id%> >
                                <i class="material-icons right">edit</i>
                                Signup
                            </a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <% }else { %>
                <br> <br> <br> No events right now. Check back later!
            <% }%>

        </div>
    </div>
    
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>