<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/mainStyle.css">

</head>
<body>
    <!-- Actual page content! -->
    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <h1>Signup For:</h1>
            <a class="btn-small waves-effect waves-light" href="/main">
                <i class="material-icons left">arrow_back</i>Return to Dates
            </a>
            <table>
                <tr>
                    <th>Event:</th>
                    <td><%= data.event %></td>

                </tr>
                <tr>
                    <th>Date:</th>
                    <td><%= data.date + " " + data.f_time + " - " + data.t_time %></td>
                </tr>
                <tr>
                    <th>Location:</th>
                    <td><%= data.location %></td>

                </tr>
                <tr>
                    <th>Volunteers Needed:</th>
                    <td><%= data.avail_slots %></td>
                    <td><a class="btn-small waves-effect waves-light modal-trigger" href="#volunteerView" >
                        <i class="material-icons center">account_circle</i>
                    </a></td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        <%= data.description %>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section" id="stuffControls">
            <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>
                Signup
            </a>
        </div>


        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <h2>Signup:</h2>
                <form method="post" action="/main/signup/<%=data.event_id%>">

                    <div class="row">
                        <div class="input-field col s6">
                            <label for="fNameInput">First Name:</label>
                            <input type="text" name="fName" id="fNameInput" class="validate" data-length="32" value="<%=  %>"required>
                        </div>

                        <div class="input-field col s6">
                            <label for="lNameInput">Last Name:</label>
                            <input type="text" name="lName" id="lNameInput" value="<%= %>" required>
                        </div>

                        <div class="input-field col s6">
                            <label for="emailInput">Email:</label>
                            <input type="email" name="email" id="emailInput" value="<%=  %>" required>
                        </div>

                        <div class="input-field col s6">
                            <label for="phoneInput">Phone:</label>
                            <input type="number" name="phone" id="phoneInput" value="<%=  %>" required>
                        </div>

                        <div class="input-field col s6">
                            <label for="volunteers">Quantity:</label>
                            <input type="number" name="volunteers" id="volunteersInput" value="<%= %>" required>
                        </div>

                        <div class="input-field col s6">
                            <label for="commentInput">Comments:</label>
                            <input type="text" name="comment" id="commentInput" class="validate" data-length="32" value="<%=  %>">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Never Mind</button>
                    </div>

                </form>
            </div>

        </div>

        <div class="modal" id="volunteerView">

            <div class="modal-content">

                <h2>Volunteers:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Volunteers</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < inventory1.length; i++) { %>
                            <tr>
                                <td><%= inventory1[i].fName  + " " + inventory1[i].lName%></td>
                                <td><%= inventory1[i].volunteers %></td>
                                <td><%= inventory1[i].comment %></td>
                            </tr>
                            <% } %>
                    </tbody>
                   
                </table>
            </div>

        </div>
    </div>
    
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>